* {
  margin: 0 auto;
}

body {
  background-image: linear-gradient(to right, rgb(228, 166, 166), yellow);
}

h1 {
  font-size: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5%;
}

.buttons {
  display: flex;
  margin-top: 6rem;
}

#paperBtn,
#scissorsBtn,
#rockBtn {
  background-color: black;
  font-size: 1.2rem;
  padding: 0.7rem;
  color: white;
}

#start {
  display: flex;
  padding: 1rem;
  background-color: blue;
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
}

.score-tracker {
  display: flex;
  margin-top: 50px;
  font-size: 2rem;
  font-weight: bold;
  color: rgb(122, 165, 42);
}

#playerscore,
#computerscore {
  color: #000;
}

.selectedChoices {
  display: flex;
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: normal;
}
