* {
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 900px;
}

html {
  border: 5px solid black;
}

h1 {
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: -webkit-linear-gradient(rgb(127, 69, 69), rgb(200, 168, 168));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  font-size: 2rem;
  color: darkred;
}

h3 {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  font-size: 1.5rem;
}

.buttons {
  display: flex;
  gap: 1rem;
  margin-top: 6rem;
  padding: 2rem;
}

.active {
  background-color: white;
  color: blue;
}

#rockBtn:hover,
#paperBtn:hover,
#scissorsBtn:hover {
  letter-spacing: 5px;
  color: #e9f01d;
  cursor: crosshair;
  box-shadow: 2px 8px rgb(181, 180, 180);
}

#paperBtn,
#scissorsBtn,
#rockBtn {
  background-color: black;
  font-size: 1.2rem;
  padding: 0.7rem;
  color: white;
  border-radius: 1rem;
}

#start {
  display: flex;
  padding: 1rem;
  background-color: blue;
  color: white;
  font-size: 1.4rem;
  font-weight: bold;
}

.score-tracker {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  color: rgb(122, 165, 42);
}

#playerscore,
#computerscore {
  color: #000;
}

.selectedChoices {
  display: flex;
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: normal;
  margin: 1rem;
  margin-top: 2rem;
}

.game-decisions {
  font-size: 20px;
  color: rgb(80, 53, 53);
  font-weight: bold;
  /* display: flex;
  justify-content: center; */
  /* flex-direction: column; */
}

#playerWin {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(30, 115, 213);
  font-size: 22px;
}

#cpuWin {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(30, 115, 213);
  font-size: 22px;
}

#playerpick,
#cpupick {
  color: rgb(23, 132, 132);
}

.reset {
  padding: 1rem;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: rgb(71, 186, 228);
  font-weight: bold;
  font-size: 20px;
  width: 20rem;
  margin-top: 2rem;
  margin-bottom: 5px;
}

.reset:hover {
  box-shadow: 5px 5px 35px rgb(102, 182, 48);
}

button {
  border: none;
  background-color: rgb(99, 95, 136);
  font-size: 20px;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 10px;
}

.active,
button:hover {
  background-color: rgb(10, 139, 96);
  box-shadow: 5px 5px 35px rgb(102, 182, 48);
  color: yellow;
  transition-delay: 0.1s;
  transition-duration: 0.5s;
}
